$white: rgb(255,255,255);
$black: rgb(7,7,36);
$darkGray: rgb(56,56,79);
$lightGray: rgb(131,131,145);
$blueMercury: rgb(65,158,187);
$yellowVenus: rgb(237,162,73);
$purpleEarth: rgb(109,46,213);
$redMars: rgb(209,76,50);
$redJupiter: rgb(216,58,52);
$orangeSaturn: rgb(205,81,32);
$blueUranus: rgb(30,193,162);
$blueNeptun: rgb(45,104,240);



