@import './colors';
@import './typography';

body {
    background: url('../assets/background-stars.svg');
    background-color: $black;
    background-repeat: repeat-x;
    animation: backgroundAnimation 20s linear alternate-reverse infinite;
    overflow: hidden;
    display: flex;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    };
}

*,
:after,
:before {
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
  a {
    color: inherit;
    text-decoration: none;
  }

  .login-html {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    justify-content: center;
    padding: 75px 70px 50px 70px;
  }
  .login-html .sign-in-htm,
  .login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all 0.4s linear;
  }
  .login-html .sign-in,
  .login-html .sign-up,
  .login-form .group .check {
    display: none;
  }

  .login-html .tab {
    margin-right: 15px;
    cursor: pointer;
    display: inline-block;
    border-bottom: 2px solid transparent;
  }
  .login-html .sign-in:checked + .tab,
  .login-html .sign-up:checked + .tab {
    border-color: $blueMercury;
    cursor: pointer;
  }
  .login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  .login-form .group {
    margin-bottom: 15px;
  }
  .login-form .group .label,
  .login-form .group .input,
  .login-form .group .button {
    width: 100%;
    color: $white;
    display: block;
    font-family: 'Spartan';
  }
  .login-form .group .input,
  .login-form .group .button {
    border: 1px solid $darkGray;
    padding: 15px 20px;
    background-color: transparent;
  }
  .login-form .group input[data-type="password"] {
    -webkit-text-security: circle;
  }

  .login-form .group .button {
    background: $blueMercury;
    cursor: pointer;
    margin-top: 40px;
    font-weight: 800;
  }
  .login-form .group .button:hover {
    background-color: rgba($color: $blueMercury, $alpha: 0.9);
    cursor: pointer;
  }
  
  .login-html
    .sign-in:checked
    + .tab
    + .sign-up
    + .tab
    + .login-form
    .sign-in-htm {
    transform: rotate(0);
  }
  .login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    transform: rotate(0);
  }
  
  .hr {
    height: 2px;
    margin: 30px 0 30px 0;
    background: $darkGray;
  }
  .foot-lnk {
    text-align: center;
  }