@import './buttons';
@import './colors';
@import './typography';

html{
    body{
        margin: 0;
        height: 100vh;
        .mainBody{
            background: url('../assets/background-stars.svg');
            background-color: $black;
            background-repeat: repeat-x;
            animation: backgroundAnimation 20s linear alternate-reverse infinite;
            overflow: hidden;
            margin: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-grow: auto auto;
    
            @keyframes backgroundAnimation {
                0% {
                    background-position: 0% 0%;
                }
                100% {
                    background-position: 100% 100%;
                }
            }
            nav{
                margin: 0;
                height: 85px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding-left: 32px;
                padding-right: 32px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                box-sizing: border-box;
                #logo{
                    h2{
                        margin: 0;
                        padding: 0;
                        font-size: 28px;
                        letter-spacing: -1.05px;
                        margin-block-start: 0;
                        margin-block-end: 0;
                    }
                }
                .search{
                    border:0px;
                    border-bottom: 2px $darkGray solid;
                    width: 250px;
                    position: relative;
                    right:45px;
                    background-color: transparent;
                    font-family: 'Spartan';
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 25px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
                .search:focus-visible{
                    border:0px;
                    border-bottom: 2px $white solid;
                    color: white;
                    outline: -webkit-focus-ring-color;
                }
            }
            .main{
                height: 100%;
                .title {
                    text-align: center;
                    margin: 60px;
                }
                .allPlanets{
                    ul{
                        display: flex;
                        flex-direction: row;
                        padding: 90px 70px 90px 70px;
                        margin: 0;
                        align-content: baseline;
                        list-style-type:none;
                        li{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            a{
                                text-decoration: none;
                                text-align: center;
                                img{
                                    width: 50%;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}