@import './buttons';
@import './colors';
@import './typography';

html{
    body{
        background: url('../assets/background-stars.svg');
        background-color: $black;
        background-repeat: repeat-x;
        animation: backgroundAnimation 20s linear alternate-reverse infinite;
        overflow: hidden;

        @keyframes backgroundAnimation {
            0% {
                background-position: 0% 0%;
            }
            100% {
                background-position: 100% 100%;
            }
        }
    }
}