@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");
button {
  font-family: "Spartan";
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  height: 48px;
  width: 350px;
  background-color: transparent;
  border: 1px solid rgb(56, 56, 79);
  display: flex;
}
button .index {
  color: rgb(255, 255, 255);
  opacity: 50%;
  margin-left: 28px;
  margin-right: 28px;
  margin-top: 12px;
  margin-bottom: 11px;
}
button .buttonName {
  color: rgb(255, 255, 255);
  margin-right: 28px;
  margin-top: 12px;
  margin-bottom: 11px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Antonio";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 103px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

h2 {
  font-family: "Antonio";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

h3 {
  font-family: "Spartan";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

h4 {
  font-family: "Spartan";
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

p {
  font-family: "Spartan";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: rgb(255, 255, 255);
}

html body {
  margin: 0;
  height: 100vh;
}
html body .mainBody {
  background: url("../assets/background-stars.svg");
  background-color: rgb(7, 7, 36);
  background-repeat: repeat-x;
  animation: backgroundAnimation 20s linear alternate-reverse infinite;
  overflow: hidden;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@keyframes backgroundAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
html body .mainBody nav {
  margin: 0;
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-right: 41px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}
html body .mainBody nav #logo {
  text-decoration: none;
}
html body .mainBody nav #logo h2 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  letter-spacing: -1.05px;
  margin-block-start: 0;
  margin-block-end: 0;
}
html body .mainBody nav ul {
  display: flex;
  padding: 0;
  gap: 33px;
  align-items: center;
}
html body .mainBody nav ul li {
  list-style: none;
}
html body .mainBody nav ul li a {
  text-decoration: none;
}
html body .mainBody .main {
  height: 100%;
  display: flex;
  flex-direction: column;
}
html body .mainBody .main .upper {
  display: flex;
}
html body .mainBody .main .lower {
  height: 184px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
html body .mainBody .main .lower .square {
  width: 255px;
  height: 128px;
  box-sizing: border-box;
  border: 1px rgba(255, 255, 255, 0.2) solid;
}
html body .mainBody .main .lower .square h4 {
  opacity: 0.5;
}/*# sourceMappingURL=planet.css.map */